---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
import AuthorImage from '../assets/me.png';

---

<Layout
	title="About Me"
	pubDate={new Date('December 9 2025')}
	heroImage={AuthorImage}
>

    <p><em>Shimmer Math Labs</em> is a small software development company that
    specializes in high quality mathematical programming. We build amazing
    things to make your reality more interesting.</p>

	<p>Nathan is a professional software developer and the founder of
	<em>Shimmer Math Labs</em>. They have been programming since they were 8 and
	trying to make computers do amazing things ever since. Nathan received their
	PhD in computer science from the University of California, Santa Cruz. Most
	recently they have worked at NVIDIA® trying to make deep learning inference go
	faster. Nathan’s interests include math, AI, performance optimization, audio
	algorithms, typesetting, and building software. They live in Tacoma,
	Washington.</p>
</Layout>
