---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            .circle {
                border-radius: 100%;
                aspect-ratio: 1 / 1;
            }
            .qrbox {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
	</head>
	<body>
		<Header />
		<main>
            <h2>Nathan</h2>
			<p>
                I’m an independent software developer specializing in mathematical programming.
                I like to build amazing things to make your reality more interesting.
                Welcome to my website.
            </p>
            <h2>Projects</h2>
            <p>
                A few of my amazing projects.
                <ul>
                    <li><a href="https://github.com/nwhitehead/kaya" target="_blank">Kaya - Memory State Diagramming</a></li>
                    <p>
                        Kaya is a set of tools for producing beautiful memory state diagrams for small example programs.
                        I'm using it to produce tutorials and quiz questions for Rust concepts but I designed the tool
                        to be useful for other languages as well.
                    </p>
                    <figure>
                        <img src="/kaya_demo.png">
                        <figcaption>
                        Example Kaya diagram showing the state of the stack and heap at two different points in a program.
                        </figcaption>
                    </figure>
                </ul>
            </p>
            <h2>Slides</h2>
			<p>
                Slides for my talks.
                <ul>
                    <li><a href="https://nwhitehead.github.io/slides/cherry-lip-sync/" target="_blank">Cherry Lip
                    Sync</a></li>
                    <p>
                    These are slides for my Boise Code Camp
                    2025 talk. I developed a small model for doing lip sync
                    using a fixed number of visemes (lip images). In some ways
                    the talk is a historical progression of machine learning up
                    through GRU.
                    </p>
                </ul>
                <ul>
                    <li><a href="https://nwhitehead.github.io/slides/manim/" target="_blank"><code>manim</code></a></li>
                    <p>
                    This is a presentation I gave at the Boise Software Developer Group
                    in July 2025. It's an introduction to creating animations using
                    the <code>manim</code> software.
                </ul>
			</p>
            <h2>Meetups</h2>
            <p>I'm starting a small local meetup called <a href="/code_is_art">Code == Art</a> to talk about art in relation to programming.
            </p>

            <h2>QR Code</h2>
                <div class="qrbox">
                    <img src="/shimmer_qrcode.png" style="width: 250px;"></img>
                    <img src="/selfie.jpg" class="circle" style="width: 200px;"></img>
                </div>
            <p>
            </p>
		</main>
		<Footer />
	</body>
</html>
